src/imgs/*.jpg filter=lfs diff=lfs merge=lfs -text
src/imgs/*.png filter=lfs diff=lfs merge=lfs -text
src/imgs/**/*.jpg filter=lfs diff=lfs merge=lfs -text
src/imgs/**/*.png filter=lfs diff=lfs merge=lfs -text
