@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  min-height: 100vh;
}

.shade {
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 100vh
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.flyffLogo {
  width: 80%;
  max-width: 20rem;
}

button {
  font-size: calc(10px + 2vmin);
}

#profile {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}