@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
}

#main {
  height: 100vh;
  color: white;
}

.shade {
  background-color: rgba(0, 0, 0, 0.5);
}

.flyffLogo {
  width: 12rem;
}

#profile {
  height: 36px;
}

.newsItem {
  padding-bottom: 20px
}